<div class="game-page">
  <div
    [@slideIn]="animationState"
    class="flex flex-col items-center gap-10 px-5 h-full w-full"
  >
    @if ((gameEnded$ | async) !== true) {
      <div class="flex flex-col items-center gap-10">
        <div class="question-container" role="region" aria-live="polite">
          <h2>{{ currentQuestion.text }}</h2>
        </div>
        @if (currentQuestion.choices && currentQuestion.choices.length > 0) {
          <div class="button-container">
            @for (choice of currentQuestion.choices; track choice.label) {
              <app-button
                (click)="selectChoice(choice)"
                [attr.aria-label]="'Choose ' + choice.label"
                btnClass="button"
              >
                {{ choice.label }}
              </app-button>
            }
          </div>
        }
      </div>
    } @else {
      <div class="flex flex-col items-center gap-y-7 xl:gap-y-40">
        <div class="question-container flex flex-col gap-7">
          <h2>{{ endMessage }}</h2>
          @if (currentQuestion.choices.length === 0) {
            <app-button
              (click)="restartAdventure()"
              aria-label="Restart Adventure"
            >
              Restart Adventure
            </app-button>
          }
        </div>
      </div>
      <div class="w-full">
        <app-decision-tree
          [questions]="questions"
          [path]="answeredQuestions$ | async"
          [questionStartKey]="questionStartKey"
        ></app-decision-tree>
      </div>
    }
  </div>
</div>
