// gradient button styles
button {
  font-family: "Play", sans-serif;
  font-size: 1.25rem;
}
.gradient-btn {
  @apply relative min-w-[120px] min-h-[40px] bg-black flex items-center text-[white] flex-col justify-center gap-3 cursor-pointer p-3 rounded-lg border-[none] before:content-[''] before:absolute before:min-w-[128px] before:min-h-[48px] before:-z-10 before:pointer-events-none before:transition-all before:duration-[0.6s] before:ease-[cubic-bezier(0.175,0.885,0.32,1.275)] before:m-auto before:rounded-[10px] before:-left-1 before:-top-px before:inset-0 after:content-[""] after:z-[-1] after:absolute after:blur-[20px] after:inset-0 hover:after:blur-[30px] hover:bg-[rgb(1,8,64)];
}
.gradient-btn::before {
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
}

.gradient-btn::after {
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
}

.gradient-btn:hover::after {
  filter: blur(30px);
}

.gradient-btn:active::before {
  scale: 0.7;
}

// plain white button with gradient hover
.button {
  @apply text-[15px] relative overflow-hidden z-[1] p-4 rounded-2xl border-[none] bg-white hover:text-white before:content-[""] before:w-0 before:min-h-[3em] before:absolute before:bg-[linear-gradient(to_right,#ad436b_0%,#3b136e_100%)] before:transition-[0.5s] before:duration-[ease] before:block before:z-[-1] before:rounded-2xl before:left-0 before:top-0 hover:before:w-full hover:before:h-full;
}
