<div class="tree">
  <div class="node node__root" *ngIf="nodes !== undefined">
    <div
      class="node__element"
      [ngClass]="{ 'is-selected': isSelected(nodes.id) }"
    >
      {{ nodes.text }}
    </div>
    <div class="node__bottom-line"></div>
    <div class="node__children">
      @for (child of nodes.choices; track child.label) {
        <div class="node">
          <ng-container
            *ngTemplateOutlet="nodeTemplate; context: { $implicit: child }"
          ></ng-container>
        </div>
      }
    </div>

    <ng-template #nodeTemplate let-node>
      <div class="node">
        <div
          class="node__element"
          [ngClass]="{ 'is-selected': isSelected(node.questionId) }"
        >
          {{ node.label }}
        </div>
        <div class="node__bottom-line"></div>
        <div
          class="node__element"
          [ngClass]="{ 'is-selected': isSelected(node.questionId) }"
        >
          {{ node.text }}
        </div>
        <div class="node__bottom-line"></div>
        @if (node.choices && node.choices.length > 0) {
          <div class="node__children">
            @for (child of node.choices; track child.label) {
              <ng-container>
                <ng-container
                  *ngTemplateOutlet="
                    nodeTemplate;
                    context: { $implicit: child }
                  "
                ></ng-container>
              </ng-container>
            }
          </div>
        }
      </div>
    </ng-template>
  </div>
</div>
