:host {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  // background: url('https://images.unsplash.com/photo-1618556450994-a6a128ef0d9d?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')   center / cover no-repeat fixed;
  background: url("https://img.freepik.com/free-vector/summer-background-with-palm-trees-birds-sunset_23-2147818840.jpg?t=st=1724953673~exp=1724957273~hmac=90ab3dd4e109b555dd6db4eba1d63bb983611bb9951cf51e9ad873bf89a1aa0c&w=1380")
    center / cover no-repeat fixed;

  .card {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  }
  .app-title {
    @apply text-6xl md:text-7xl  leading-[56px];
    font-family: "Robus", sans-serif;
  }
  .app-description {
    @apply text-xl font-bold mt-2;
    font-family: "Play", sans-serif;
    font-style: normal;
  }
}
