:host {
  @apply flex items-center justify-center min-h-screen relative;
  background: url("/assets/images/home-bg.webp") center / cover no-repeat fixed;

  .card {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  }
  .app-title {
    @apply text-6xl md:text-7xl  leading-[56px];
    font-family: "Robus", sans-serif;
  }
  .app-description {
    @apply text-xl font-bold mt-2;
    font-family: "Play", sans-serif;
    font-style: normal;
  }
}
